*,
*::before, 
*::after{

    box-sizing: border-box;
}

html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
   
}
.container-carousel {
    
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 100px 20px; 
    margin-top: 50px;
}
.full-height {
    min-height: 100vh; /* 100% de la altura del viewport */
    display: flex;
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */

}
.carousel {
    width: 100%; /* O cualquier ancho que desees */
    height: 65vh; /* Ajusta la altura del carrusel */
    overflow: hidden; /* Para evitar que las imágenes se desborden */
    border-radius: 20px; /* Bordes redondeados */
}
footer {
    margin-top: auto; /* Empuja el footer al final del contenido */
    width: 100%;
    background-color: #f8f9fa;
}

/* Asegura que las imágenes se adapten a la altura del carrusel */
.carousel-inner img {
    height: 500px;
    object-fit: cover; /* Para que las imágenes se adapten a la altura */
    border-radius: 20px; /* Aplicar bordes redondeados a las imágenes también */
}

.footer-icons {
    font-size: 35px;
}

.close-circle {
    position: absolute; /* Permitir posicionamiento */
    top: 10px; /* Ajustar la posición vertical */
    right: 10px; /* Ajustar la posición horizontal */
    border-radius: 50%; /* Convertir en círculo */
    background: rgba(0, 0, 0, 0.6); /* Fondo oscuro para mejor contraste */
    width: 30px; /* Ancho del círculo */
    height: 30px; /* Alto del círculo */
    display: flex; /* Para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 10; /* Asegurarse de que esté por encima del contenido */
    --bs-btn-close-bg-color: transparent; /* Fondo transparente para el botón */
    --bs-btn-close-color: white; /* Color de la cruz */
    --bs-btn-close-width: 2px; /* Grosor de la línea de la cruz */
    border: 1px solid white; /* Borde blanco para resaltar */
  }
  

  